<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>

<!-- Fin    -->

<!--Cette partie s affiche si la valeur de mode est egal a true-->
<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container">

    <div class="row">
          <p><iframe style="border: none"   target="_blank"  [src]="urlSenegal" frameborder="0" width="98%" height="850" frameborder="0" scrolling="yes"></iframe></p>
    </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>












