<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>

<!-- Fin    -->


<!--Cette partie s affiche si la valeur de mode est egal a true-->
<div>
  <div class="container ">

    <div class="row">
      <!--  <p><img class="aligncenter wp-image-915735 size-full" src="https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt.jpg" alt="" width="1024" height="292" srcset="https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt.jpg 1024w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-300x86.jpg 300w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-768x219.jpg 768w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-600x171.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px" /></p>-->
    <!--  <p><iframe style="border: none"   target="_blank"  src="http://covid-19-africa.sen.ovh/"frameborder="0" width="1100" height="850" frameborder="0" scrolling="no"></iframe></p>-->
      <p><iframe style="border: none"   target="_blank"  [src]="urlAfrique" frameborder="0"  width="100%" height="850" frameborder="0" scrolling="yes"></iframe></p>
    </div>
  </div>
</div>









