table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;

}
th{
  color: #2980b9;
}

th, td {
  border: 1px solid #ddd;
  min-width: 180px;
  text-align: center;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.my-custom-scrollbar {
  position: relative;
  height: 385px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}


