<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>

<!-- Fin    -->


<div class="row" *ngIf="article"  id="article" >

  <div class="col-md-1 "   >

  </div>
  <div class="col-md-2 col-xs-12 "   >

    <div class="panel-heading" class="filtre">Type Article</div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="researchArticle"  name="recherche"  value="Research"  (change)="toggleEditable($event)" >
      &nbsp;
      <label class="form-check-label police" for="researchArticle">Recherche articles</label>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="review" name="review"  value="Review"  (change)="toggleEditable($event)" >
      &nbsp; &nbsp;
      <label class="form-check-label police" for="review">Article de revue</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="book" name="books"  value="Book"  (change)="toggleEditable($event)" >
      &nbsp;  &nbsp;  &nbsp;&nbsp;
      <label class="form-check-label police" for="book">Livre de revue</label>
    </div>

    <br>
    <div class="panel-heading text-center" class="filtre">Années</div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="annee2021"  name="an2021"  value="2021"  (change)="toggleEditable($event)" >
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="form-check-label police" for="annee2021">2021</label>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="annee2020"  name="an2020"  value="2020"  (change)="toggleEditable($event)" >
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="form-check-label police" for="annee2020">2020</label>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="annee2019" name="an2019"  value="2019"  (change)="toggleEditable($event)" >
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="form-check-label police" for="annee2019">2019</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="annee2018" name="an2018"  value="2018"  (change)="toggleEditable($event)" >
      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="form-check-label police" for="annee2018">2018</label>
    </div>



  </div>
  <div class="col-md-5 col-xs-12 text-justify"    >
    <ng-container  *ngIf="  modeByKeyWord==false && modeFiltre==false "     >
        <ng-container  *ngFor="let article of articles._embedded.articles"   >
          <div class="row">

            <div class="col-md-8 col-xs-12" class="art" >
              <!--  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> -->
              <span>{{article.type}}</span>
              <h4 class="text-capitalize  url" ><a href="{{article.url}}"  target="_blank" >{{article.titre}}</a></h4>
              <span class="fontStyle">{{article.book}},{{article.date}}</span><br>
              <span  class="fontStyle"  >{{article.auteurs1}},{{article.auteurs2}},... <br> </span><br>
              <!--   <span><a href="{{article.url}}"> {{article.url}} </a> <br></span><br>-->
            </div>


          </div>

        </ng-container>

      <!-- HTML pagination-->
      <div class="row">
        <!--        <div class="col-md-4">-->

        <!--        </div>-->

        <div class="col-sm-12 col-md-12 col-xs-12">
          <ul  *ngIf="pagesArticles" class="nav nav-pills">
            <li *ngFor="let p of  pagesArticles; let  indice=index" [ngClass]="indice==pageCourant? 'active':'' ">
              <ng-container *ngIf="indice<=0">
                <a class="clickable" (click)="onPageArticle(indice)">Prev</a>
              </ng-container>
              <ng-container *ngIf="indice>0 && indice<=20">
                <a class="clickable" (click)="onPageArticle(indice)">{{indice}}</a>
              </ng-container>
              <ng-container *ngIf="indice>20 && indice<=21" >
                <a class="clickable" (click)="onPageArticle(indice)"> Next</a>
              </ng-container>
            </li>
          </ul>
        </div>

      </div>

    </ng-container>

    <ng-container *ngIf="articles && modeByKeyWord  && modeFiltre==false ">
      <ng-container  *ngFor="let article of articles._embedded.articles"   >
      <div class="row"    >

        <div class="col-md-8 col-xs-12" class="art" >
          <span>{{article.type}}</span>
          <h4 class=" text-capitalize"><a href="{{article.url}}" target="_blank" >{{article.titre}}</a></h4>
          <span class="fontStyle">{{article.book}},{{article.date}}</span><br>
          <span  class="fontStyle"  >{{article.auteurs1}},{{article.auteurs2}},... <br> </span><br>
          <!--   <span><a href="{{article.url}}"> {{article.url}} </a> <br></span><br>-->
        </div>


      </div>
      </ng-container>

      <!-- HTML pagination-->
      <div class="row"     >
        <!-- <div class="col-sm-4">
         </div>-->
        <div class="col-sm-12 col-md-12 col-xs-12">
          <ul  *ngIf="pages" class="nav nav-pills">
            <li *ngFor="let p of pages; let  i=index" [ngClass]="i==currentPage?'active':'' ">
              <a class="clickable" (click)="onPageDocument(i)">{{i}}</a>
            </li>
          </ul>

        </div>

      </div>

    </ng-container>



    <ng-container *ngIf="filtres && modeFiltre  &&  modeByKeyWord==false">
      <ng-container  *ngFor="let article of filtres"   >
        <div class="row"    >

          <div class="col-md-8 col-xs-12" class="art" >
            <span> {{article.type}}</span>
            <h4 class=" text-capitalize"><a href="{{article.url}}" target="_blank" >{{article.titre}}</a></h4>
            <span class="fontStyle">{{article.book}},{{article.date}}</span><br>
            <span  class="fontStyle"  >{{article.auteurs1}},{{article.auteurs2}},... <br> </span><br>
            <!--   <span><a href="{{article.url}}"> {{article.url}} </a> <br></span><br>-->
          </div>
        </div>

      </ng-container>

    </ng-container>


  </div>

  <div class="col-md-3 col-xs-12 text-justify" >

    <form class="navbar-form navbar-left"  #f="ngForm" (ngSubmit)="onChercherByArticle(f.value)" >
      <div class="input-group">
        <input type="text" class="form-control" name="keyword" ngModel  placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

  </div>
  <div class="col-md-1 "   >


  </div>


</div>









