<div class="container">
  <div class="container">
    <div class="container">
      <div class="container">
        <div class="container">
<nav class="navbar" >
    <div class="navbar-header   ">
      <img    src="../assets/image/logoPTR.jpg" width="40">
    </div>
    <ul class="nav navbar-nav ">
    <!--  <li><a   routerLink="/documents"  name="sanitaire"  class="clickable ffamily"   ><span class="glyphicon glyphicon-home "></span>Home</a></li>-->
      <li><a class="clickable ffamily"  routerLink="/whos"><span class="glyphicon glyphicon-home "></span>Home</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle ffamily" data-toggle="dropdown" href="#">Info COVID
          <span class="caret"></span></a>
        <ul class="dropdown-menu  bg-info">
          <li><a class="clickable ffamily"  routerLink="/infocovids" >Comparatif</a></li>
        <!--  <li><a class="clickable ffamily"  routerLink="/infocovidBenin" >Bénin</a></li>
          <li><a class="clickable ffamily"  routerLink="/infocovidBurkina" >Burkina Faso</a></li>
          <li><a class="clickable ffamily"  routerLink="/infocovidGabon" >Gabon</a></li>
          <li><a class="clickable ffamily"  routerLink="/infocovidMali"  >Mali</a></li>-->
          <li><a class="clickable ffamily"  routerLink="/infocovidspayspilotes">Pays Pilotes</a></li>

        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle ffamily" data-toggle="dropdown" href="#">Données
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable ffamily"  >WP1</a></li>
          <li><a class="clickable ffamily" routerLink="/wp2" >WP2</a></li>
          <li><a class="clickable ffamily"  >WP3</a></li>
          <li><a class="clickable ffamily" >WP4</a></li>
        </ul>
      </li>

      <li><a   name="sanitaire"  class="clickable ffamily"   >Produits</a></li>
      <li><a   name="nutrition"  class="clickable ffamily" >Indicateurs</a></li>
      <li><a class="clickable ffamily"  routerLink="/sciencedirect" >Articles</a></li>

      <!--<li class="dropdown">
        <a class="dropdown-toggle ffamily" data-toggle="dropdown" href="#">Articles
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="clickable ffamily"  routerLink="/sciencedirect" >Science direct</a></li>
          <li><a class="clickable ffamily" routerLink="/natures" >Nature</a></li>
          <li><a class="clickable ffamily" routerLink="/plosones" >Plos one</a></li>
          <li><a class="clickable ffamily"  routerLink="/elseviers" >Elsevier</a></li>
          <li><a class="clickable ffamily"  routerLink="/pubmeds" >PubMed</a></li>

        </ul>
      </li>-->



    </ul>

    <!-- Formulaire de recherche -->

    <!--<form class="navbar-form navbar-left"  #f="ngForm" (ngSubmit)="onChercher(f.value)" >
      <div class="input-group">
        <input type="text" class="form-control" name="keyword" ngModel  placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>-->

    <!--    <ul class="nav navbar-nav navbar-right">-->
    <!--      <li><a href="#"><span class="glyphicon glyphicon-user"></span>SignUp</a></li>-->
    <!--      &lt;!&ndash;      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>&ndash;&gt;-->
    <!--      <li><a class="clickable" (click)="onLogout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>-->
    <!--    </ul>-->



</nav>
          <hr  class="bg-primary"  align="center" width="100%"  size="70" noshade/>
</div>
</div>
</div>
  </div>
</div>

<br/>

<router-outlet>

</router-outlet>


