<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>
<!-- Fin    -->
<div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
              <div class="panel panel-primary">
                <div class="panel-heading"><p  class="text-center">Liste des produits</p></div>
                <div class="row">
                  <div class="col-md-11 col-md-offset-1">
                    <div class="panel-body">
                      <div class="row">
                        Télécharger le fichier au format pdf
                        <a href="./../assets/image/Mon_memoire_M2BI.pdf"  download="Mon_memoire_M2BI.pdf">
                          Mémoire de Franck Boumi Chimi
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</div>
