<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>
<!-- Fin    -->

<div>
  <div class="container ">
    <p  style="width : 1024px ;"   >Mise à jour quotidiennement, notre carte évolutive dresse un panorama en temps réel de l’état d’avancée de la maladie.
      Elle se concentre sur trois variables : le nombre de décès, le nombre total de cas déclarés depuis le début de l’épidémie,
      et le nombre de guérisons recensées. En passant votre souris sur chaque pays, vous pourrez consulter le détail de ces informations par pays, mais aussi les différentes mesures de restriction mises en place.</p>
    <iframe   target="_blank"  src="https://cartosantesen.maps.arcgis.com/apps/opsdashboard/index.html#/260c7842a77a48c191bf51c8b0a1d3f6" frameborder="0" style="width: 100%; height: 70vh;"></iframe>
  </div>
</div>

