
<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>
<!-- Fin    -->


<div *ngIf="mode==false && senegal==false &&  article==false " >
  <div class="container glyphicon-text-height  float">

    <div class="row back" >

      <div class="col-md-2 ">

          <div class="panel-heading" id="maladie">Maladie</div>
          <div class="form-check">
            <input type="checkbox"  name="covid"   value="covid"  (change)="toggleEditable($event)" class="form-check-input" id="covid">
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="form-check-label police"  for="covid"  >Covid-19</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="malaria"  value="Malaria"  (change)="toggleEditable($event)" class="form-check-input" id="malaria">
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            <label class="form-check-label police" for="malaria"  >Malaria</label>
          </div>
          <div class="form-check">
            <input type="checkbox"  name="tuberculose"  value="tuberculosis"  (change)="toggleEditable($event)"  class="form-check-input" id="tuberculose">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="form-check-label police" for="tuberculose">Tuberculose</label>
          </div>


     <!--   <div class="panel-heading text-left" id="format">Format</div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="videos">
          &nbsp;   &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
          <label class="form-check-label police " for="videos">Vidéos</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="images">
          &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="form-check-label police " for="images">Images</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="pdf">
          &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;
          <label class="form-check-label police " for="pdf">PDF</label>
        </div>

-->
      </div>

       <ng-container *ngIf="modeByKeyWord==false && modeFiltre==false ">
      <div class="col-sm-7 text-justify" *ngIf="documents"      >
        <div class="row bord text-justify  "    *ngFor=" let doc of  documents.content"    >
          <div class="row cadre text-justify"  >
            <div class="col-4 col-md-4  col-sm-4 "     >
              <img class="img-thumbnail img-rounded   img1 "      [src]="doc.img[numberAleatoire]"/>
            </div>
            <div class="col-8 col-md-8 col-sm-8" >
               <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}" target="_blank" >{{doc.titre}}</a></h4>
              <span class="text-justify"> {{doc.resume}}</span>
             <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
            </div>
          </div>
        </div>

        <!-- HTML pagination-->
        <div class="row"   >
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8">
            <ul  *ngIf="pages" class="nav nav-pills">
              <li *ngFor="let p of pages; let  i=index" [ngClass]="i==currentPage?'active':'' ">
                <a class="clickable" (click)="onPageDocument(i)">{{i}}</a>
              </li>
            </ul>

          </div>

        </div>
      </div>
       </ng-container>

      <ng-container *ngIf="documents && modeByKeyWord && modeFiltre==false"   style="background: #555555 ">
        <div class="col-sm-7" *ngIf="documents"    >
        <div class="row bord "  *ngFor=" let doc of  documents._embedded.webDocuments"    >
          <div class="row cadre">
            <div class="col-4 col-md-4  col-sm-4 "   >
              <img class="img-thumbnail img-rounded btn img1"  [src]="doc.img[numberAleatoire]"/>
            </div>
            <div class="col-8 col-md-8 col-sm-8">
              <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}">{{doc.titre}}</a></h4>
              <span class="text-justify"> {{doc.resume}}</span>
              <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
            </div>
          </div>
        </div>


        <!-- HTML pagination-->
        <div class="row"     >
          <div class="col-sm-4">
          </div>
          <div class="col-sm-8">
            <ul  *ngIf="pages" class="nav nav-pills">
              <li *ngFor="let p of pages; let  i=index" [ngClass]="i==currentPage?'active':'' ">
                <a class="clickable" (click)="onPageDocument(i)">{{i}}</a>
              </li>
            </ul>

          </div>

        </div>
        </div>
      </ng-container>


      <ng-container *ngIf="filtres && modeFiltre   && modeByKeyWord ==false ">
        <div class="col-sm-7" *ngIf="filtres"   >
          <div class="row bord "  *ngFor=" let doc of  filtres"    >
            <div class="row cadre">
              <div class="col-4 col-md-4  col-sm-4 "   >
                <img class="img-thumbnail img-rounded btn img1"  [src]="doc.img[numberAleatoire]"/>
              </div>
              <div class="col-8 col-md-8 col-sm-8">
                <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}"  target="_blank">{{doc.titre}}</a></h4>
                <span class="text-justify"> {{doc.resume}}</span>
                <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
              </div>
            </div>
          </div>
        </div>


      </ng-container>




      <!--  Espace droite   style="background: #74b9ff " -->
      <div class="col-md-3 "  >
        <!-- Formulaire de recherche  class="navbar-form navbar-left" -->

         <form   #f="ngForm" (ngSubmit)="onChercher(f.value)" >
           <div class="input-group">
             <input type="text" class="form-control" name="keyword" ngModel  placeholder="Search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
             </div>
           </div>
         </form>

      </div>


    </div>


    <!--  Gestion de la galery    style="background: #74b9ff " -->
    <div  id="image" class="row">

      <div class="row text-info text-capitalize text-center" >
        <br>
        Gallerie images
        <br>

        <span id="sl_play" class="sl_command"></span>
        <span id="sl_pause" class="sl_command"></span>

        <span id="sl_i1" class="sl_command sl_i"></span>
        <span id="sl_i2" class="sl_command sl_i"></span>
        <span id="sl_i3" class="sl_command sl_i"></span>
        <span id="sl_i4" class="sl_command sl_i"></span>

        <section id="slideshow">

          <a class="play_commands pause" href="/documents/#sl_pause" title="Maintain paused">Pause</a>
          <a class="play_commands play" href="/documents/#sl_play" title="Play the animation">Play</a>


          <div class="container">
            <div class="c_slider"></div>
            <div class="slider"  >
              <ng-container  *ngFor=" let doc of  documents.content"    style="border:1px solid white; ">

                <figure  *ngFor=" let image of  doc.img ; let i = index" >
                  <img class="img-thumbnail img-rounded btn img2"    [src]="image" alt=""/>
                </figure>

              </ng-container>

            </div>
          </div>
          <span id="timeline"></span>
        </section>

      </div>

    </div>

  </div>
</div>


<!------------------------------- Affichage liens pdf avec un popup(modal)  ------------------------>
<div class="container">

  <!-- Trigger the modal with a button -->
  <!--          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Articles pdf</button>-->

  <!-- Modal -->
  <div class="modal fade" id="mespdfs" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Articles</h4>
        </div>
        <div class="modal-body">
          <p>
            <ng-container     *ngFor=" let doc of  documents.content "     >
              <div class="row"  *ngFor=" let pdf of  doc.pdf ; let i = index"  >
                <a    class="text-info text-justify clickable"   [href]="doc.pdf[i]"> {{doc.pdf[i]}}  </a>
              </div>
            </ng-container>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<!------------------------------- Fin affichage liens pdf avec un popup modal  ------------------------>




<!------------------------------- Affichage liens videos avec un popup(modal)  ------------------------>
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="mesvideos" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Videos</h4>
        </div>
        <div class="modal-body">
          <p>
            <ng-container     *ngFor=" let doc of  documents.content "     >
              <div class="row"  *ngFor=" let video of  doc.videos ; let i = index"  >
                <a  href= "{{video}}" target="_blank"> {{video}}  </a>
                <ng-container>
                  <iframe src="{{video }}"   allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" frameborder="0">  </iframe>
                </ng-container>
              </div>
            </ng-container>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<!------------------------------- Fin affichage liens pdf avec un popup modal  ------------------------>
<br>


<!--Cette partie s affiche si la valeur de mode est egal a true-->
<div *ngIf="mode">
  <div class="container ">

    <div class="row">
      <!--  <p><img class="aligncenter wp-image-915735 size-full" src="https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt.jpg" alt="" width="1024" height="292" srcset="https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt.jpg 1024w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-300x86.jpg 300w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-768x219.jpg 768w, https://www.jeuneafrique.com/medias/2020/03/25/boutonarticle_rubrique_mt-600x171.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px" /></p>-->
      <p  style="width : 1024px ;"   >Mise à jour quotidiennement, notre carte évolutive dresse un panorama en temps réel de l’état d’avancée de la maladie.
        Elle se concentre sur trois variables : le nombre de décès, le nombre total de cas déclarés depuis le début de l’épidémie,
        et le nombre de guérisons recensées. En passant votre souris sur chaque pays, vous pourrez consulter le détail de ces informations par pays, mais aussi les différentes mesures de restriction mises en place.</p>
      <p>La couleur de la carte <strong>est graduée selon le nombre de décès</strong>.</p>
      <p><iframe style="border: none"   src="http://covid-19-africa.sen.ovh/"frameborder="0" width="1100" height="850" frameborder="0" scrolling="no"></iframe></p>
    </div>
  </div>
</div>


<div *ngIf="senegal  && mode==false">
  <div class="container ">
    <p  style="width : 1024px ;"   >Mise à jour quotidiennement, notre carte évolutive dresse un panorama en temps réel de l’état d’avancée de la maladie.
      Elle se concentre sur trois variables : le nombre de décès, le nombre total de cas déclarés depuis le début de l’épidémie,
      et le nombre de guérisons recensées. En passant votre souris sur chaque pays, vous pourrez consulter le détail de ces informations par pays, mais aussi les différentes mesures de restriction mises en place.</p>
    <iframe src="https://cartosantesen.maps.arcgis.com/apps/opsdashboard/index.html#/260c7842a77a48c191bf51c8b0a1d3f6" frameborder="0" style="width: 100%; height: 70vh;"></iframe>
  </div>
</div>









<!-- ---- <p>++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>-->
<!--{{documents.content[0].img|json}} style="background-color: darkgreen; color: #FFFFFF;"-->

<!--{{articles._embedded.articles|json}}-->

<!--{{documents.page.totalPages}}  -->

<!--{{filtres | json}}-->








