
<!-- Inclure bases c a dire lq bare de navigation q pqrtir du componenet bases   -->
<app-bases></app-bases>
<!-- Fin    -->


<div *ngIf="mode==false &&  article==false " >
  <div class="container glyphicon-text-height  float">

    <div class="row back" >

      <div class="col-md-2 col-xs-12 col-sm-2 ">

        <div  id="maladie">Maladies(fréquentes)</div>
          <div class="form-check">
            <input type="checkbox"  name="covid"   value="covid"  (change)="toggleEditable($event)" class="form-check-input" id="covid">
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="form-check-label police"  for="covid"  >Covid-19</label>
          </div>

          <div class="form-check">
            <input type="checkbox" name="malaria"  value="Malaria"  (change)="toggleEditable($event)" class="form-check-input" id="malaria">
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            <label class="form-check-label police" for="malaria"  >Malaria</label>
          </div>
          <div class="form-check">
            <input type="checkbox"  name="tuberculose"  value="tuberculosis"  (change)="toggleEditable($event)"  class="form-check-input" id="tuberculose">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="form-check-label police" for="tuberculose">Tuberculose</label>
          </div>



      </div>

       <ng-container *ngIf="modeByKeyWord==false && modeFiltre==false ">
      <div class="col-sm-7 col-xs-12 col-md-7 text-justify" *ngIf="documents"      >
        <div class="row bord text-justify  "    *ngFor=" let doc of  documents.content"    >
          <div class="row cadre text-justify"  >
            <div class="col-4 col-md-4 col-sm-4  col-xs-12  "     >
              <img class="img-thumbnail img-rounded   img1 "      [src]="doc.img[numberAleatoire]"/>
            </div>
            <div class="col-8 col-md-8 col-sm-8 col-xs-12 " >
               <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}" target="_blank" >{{doc.titre}}</a></h4>
              <span class="text-justify"> {{doc.resume}}</span>
             <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
            </div>
          </div>
        </div>

        <!-- HTML pagination-->
        <div class="row"   >
          <div class="col-sm-4 col-xs-12 col-md-4">
          </div>
          <div class="col-sm-8 col-xs-12 col-md-8">
            <ul  *ngIf="pages" class="nav nav-pills">
              <li *ngFor="let p of pages; let  i=index" [ngClass]="i==currentPage?'active':'' ">
                <a class="clickable" (click)="onPageDocument(i)">{{i}}</a>
              </li>
            </ul>

          </div>

        </div>
      </div>
       </ng-container>

      <ng-container *ngIf="documents && modeByKeyWord && modeFiltre==false"   style="background: #555555 ">
        <div class="col-sm-7 col-xs-12 col-md-7" *ngIf="documents"    >
        <div class="row bord "  *ngFor=" let doc of  documents._embedded.webDocuments"    >
          <div class="row cadre">
            <div class="col-4 col-md-4 col-xs-12  col-sm-4 "   >
              <img class="img-thumbnail img-rounded btn img1"  [src]="doc.img[numberAleatoire]"/>
            </div>
            <div class="col-8 col-md-8  col-xs-12 col-sm-8">
              <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}">{{doc.titre}}</a></h4>
              <span class="text-justify"> {{doc.resume}}</span>
              <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
            </div>
          </div>
        </div>


        <!-- HTML pagination-->
        <div class="row"     >
          <div class="col-sm-4 col-md-4 col-xs-12">

            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>

          </div>
          <div class="col-sm-8 col-xs-12 col-md-8">
            <ul  *ngIf="pages" class="nav nav-pills">
              <li *ngFor="let p of pages; let  i=index" [ngClass]="i==currentPage?'active':'' ">
                <a class="clickable" (click)="onPageDocument(i)">{{i}}</a>
              </li>
            </ul>

          </div>

        </div>
        </div>
      </ng-container>


      <ng-container *ngIf="filtres && modeFiltre   && modeByKeyWord ==false ">
        <div class="col-sm-7 col-md-7 col-xs-12" *ngIf="filtres"   >
          <div class="row bord "  *ngFor=" let doc of  filtres"    >
            <div class="row cadre">
              <div class="col-4 col-md-4  col-sm-4 col-xs-12 "   >
                <img class="img-thumbnail img-rounded btn img1"  [src]="doc.img[numberAleatoire]"/>
              </div>
              <div class="col-8 col-md-8 col-sm-8 col-xs-12 ">
                <h4 class=" text-capitalize text-info">  <a href="{{doc.url}}"  target="_blank">{{doc.titre}}</a></h4>
                <span class="text-justify"> {{doc.resume}}</span>
                <!-- <a href="{{doc.url}}">{{doc.url}}</a>-->
              </div>
            </div>
          </div>
        </div>


      </ng-container>




      <!--  Espace droite   style="background: #74b9ff " -->
      <div class="col-md-3 col-xs-12 col-sm-3 "  >
        <!-- Formulaire de recherche  class="navbar-form navbar-left" -->

         <form   #f="ngForm" (ngSubmit)="onChercher(f.value)" >
           <div class="input-group">
             <input type="text" class="form-control" name="keyword" ngModel  placeholder="Search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit">
                 <i class="glyphicon glyphicon-search"></i>
               </button>
             </div>
           </div>
         </form>

      </div>


    </div>


    <!--  Gestion de la galery    style="background: #74b9ff " -->
  <!--  <div  id="image" class="row">

      <div class="row text-info text-capitalize text-center" >
        <br>
        Gallerie images
        <br>

        <span id="sl_play" class="sl_command"></span>
        <span id="sl_pause" class="sl_command"></span>

        <span id="sl_i1" class="sl_command sl_i"></span>
        <span id="sl_i2" class="sl_command sl_i"></span>
        <span id="sl_i3" class="sl_command sl_i"></span>
        <span id="sl_i4" class="sl_command sl_i"></span>

        <section id="slideshow">

          <a class="play_commands pause" href="/documents/#sl_pause" title="Maintain paused">Pause</a>
          <a class="play_commands play" href="/documents/#sl_play" title="Play the animation">Play</a>


          <div class="container">
            <div class="c_slider"></div>
            <div class="slider"  >
              <ng-container  *ngFor=" let doc of  documents.content"    style="border:1px solid white; ">

                <figure  *ngFor=" let image of  doc.img ; let i = index" >
                  <img class="img-thumbnail img-rounded btn img2"    [src]="image" alt=""/>
                </figure>

              </ng-container>

            </div>
          </div>
          <span id="timeline"></span>
        </section>

      </div>

    </div>-->

  </div>
</div>


<!------------------------------- Affichage liens pdf avec un popup(modal)  ------------------------>
<!--<div class="container">

  &lt;!&ndash; Trigger the modal with a button &ndash;&gt;
  &lt;!&ndash;          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Articles pdf</button>&ndash;&gt;

  &lt;!&ndash; Modal &ndash;&gt;
  <div class="modal fade" id="mespdfs" role="dialog">
    <div class="modal-dialog">

      &lt;!&ndash; Modal content&ndash;&gt;
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Articles</h4>
        </div>
        <div class="modal-body">
          <p>
            <ng-container     *ngFor=" let doc of  documents.content "     >
              <div class="row"  *ngFor=" let pdf of  doc.pdf ; let i = index"  >
                <a    class="text-info text-justify clickable"   [href]="doc.pdf[i]"> {{doc.pdf[i]}}  </a>
              </div>
            </ng-container>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>-->
















