.police{
  font-family: "Times New Roman";

}

/*.navbar-header {*/
/*  position: absolute;*/
/*  left: 30%;*/
/*  transform: translatex(-50%);*/
/*}*/

.img1 {
  width: 100%;
  height:130px ;

}
.cadre{
  min-height: 150px;

}

/*#article{

  background:  #E6E6FA ;
}*/
#art{
  border:1px solid white;
  font-style: italic;
}
#fontStyle{
  font-style: italic;
}
/*
#back{
   background:  #E6E6FA ;
}

*/
/*#bord{
  border:1px solid white;
}*/

.float{
  position: absolute ;
  left: 7%;
}


.img2 {
  width: 800%;
  height: 370px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listCov {
  background: red;
  color: #FFFFFF;
}

/* ligne horizontal */



/*ul.dropdown-menu{*/
/*  background-color: #2980b9;*/
/*}*/

.dropdown-menu > li > a:hover {
  color: #FFFFFF;
  background-image: none;
  background-color: #2980b9;
}
hr {
  height: 5px;
  /* margin: -0.5em 0;*/
  padding: 0;

  border: 1px;
}







/* Modal ou popu */
.modal-dialog
{
  width: 80%;

}

